<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
      <i class="fa fa-address-book"></i> &nbsp;
      My Contacts
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" [routerLink]="['/new-contact']">
          New Contact
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <div class="card p-5">
        <h4 class="text-center mb-5">{{ id && id > 0 ? 'Update Contact' : 'New Contact' }}</h4>
        <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">
              Name <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control text-dark" formControlName="name" placeholder="Mg Mg" id="name"
                autocomplete="off">
              <ng-container *ngIf="contactSubmit && valid.name.errors">
                <small class="text-danger" *ngIf="valid.name.errors.required">Name is required.</small>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">
              Phone <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
              <input type="tel" class="form-control text-dark" formControlName="phone"
                (input)="isValidPhone($event.target.value)" placeholder="09xxxxxxxxx" id="phone" autocomplete="off">
              <ng-container *ngIf="contactSubmit && valid.phone.errors">
                <small class="text-danger" *ngIf="valid.phone.errors.required">Phone is required.</small>
                <small class="text-danger" *ngIf="valid.phone.errors.pattern">Phone must be number.</small>
              </ng-container>
              <small class="text-danger" *ngIf="!validPhone">This phone is already exist.</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">
              Email <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
              <input type="email" class="form-control text-dark" formControlName="email"
                (input)="isValidEmail($event.target.value)" placeholder="example@mail.com" id="email"
                autocomplete="off">
              <ng-container *ngIf="contactSubmit && valid.email.errors">
                <small class="text-danger" *ngIf="valid.email.errors.required">Email is required.</small>
                <small class="text-danger" *ngIf="valid.email.errors.email">Email must be valid format.</small>
              </ng-container>
              <small class="text-danger" *ngIf="!validEmail">This email is already exist.</small>
            </div>
          </div>
          <div class="form-group row mt-4">
            <div class="col-12 text-right">
              <button class="btn btn-danger col-2 mr-2" [routerLink]="['/home']">
                <i class="fa fa-chevron-left"></i> &nbsp; Back
              </button>
              <button type="submit" [disabled]="!validEmail || !validPhone"
                class="btn btn-info col-4">{{ id && id > 0 ? 'Update' : 'Submit' }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
