<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
      <i class="fa fa-address-book"></i> &nbsp;
      My Contacts
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/new-contact']">
          New Contact
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" (input)="onSearch($event.target.value)" placeholder="Search"
        aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <div class="row">
        <div class="col-md-8">
          <input type="text" placeholder="Search by name, email or phone." (input)="onSearch($event.target.value)"
            class="form-control mb-2" type="search" aria-label="Search">
        </div>
        <div class="col-md-4 text-right">
          <button type="button" [routerLink]="['/new-contact']" class="btn btn-block btn-success">
            <i class="fa fa-plus"></i>
            New Contact
          </button>
        </div>
      </div>

      <section class="mt-4">

        <div *ngIf="isSearch && contacts.length > 0" class="alert alert-success" role="alert">
          <strong> {{ contacts.length }} </strong> results found..
        </div>
        <div *ngIf="isSearch && contacts.length === 0" class="alert alert-warning" role="alert">
          No result found..
        </div>
        <div *ngIf="contactService.message" class="alert alert-dismissible fade alert-warning show" id="custom-alert"
          role="alert">
          {{ contactService.message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-info" *ngIf="contacts.length === 0" role="alert">
          You have no contacts currently.
        </div>

        <ng-container *ngIf="contacts.length > 0">
          <div
            *ngFor="let contact of contacts | paginate: { itemsPerPage: perPage, currentPage: page } ; let i = index;"
            class="card mb-2">
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <h5 class="card-title"> {{page > 1 ? (((page * perPage) - perPage) + (i + 1) ) : i + 1}}.
                    {{ contact.name }}</h5>
                  <div class="text-muted mt-3">
                    <i class="fa fa-phone"></i> &nbsp;
                    <span (click)="call(contact.phone)">{{ contact.phone }}</span>
                  </div>
                  <div class="text-muted mt-1">
                    <i class="fa fa-envelope"></i> &nbsp;
                    <span (click)="mail(contact.email)">{{ contact.email }}</span>
                  </div>
                </div>
                <div class="col-2">
                  <button type="button" [routerLink]="['/new-contact', contact.id]" class="btn btn-warning mr-1 mb-2">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" (click)="openDeleteModal(contact)" class="btn btn-danger mb-2">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-4" *ngIf="contacts.length > perPage">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
        </ng-container>

      </section>

    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModalBox" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are you sure to delete?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>{{ contact.name }}</li>
          <li>{{ contact.phone }}</li>
          <li>{{ contact.email }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="deleteMyContact()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Modal -->
